[Desktop Entry]
Type=Application
Name=Bongo Cat Neo
Comment=Native Live2D desktop pet
Exec=BongoCatNeo
Icon=bongo-cat-neo
Categories=Game;Utility;
Terminal=false
